@page "/new-invoice"

<PageTitle>Create New Invoice</PageTitle>

@* Import Fonts *@
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">

<div class="page-main">
    <div class="parent-head">
        <h1 style="font-family: 'Permanent Marker', serif;">Create New Invoice</h1>
        <p style="font-family: 'Permanent Marker', serif;">Fill out this form. Once it is complete, click the generate button.</p>
    </div>
    <div class="parent-body">
        <div class="selection-bar">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(e => FormTabClick("button0"))" class="@btnList[0][1]" style="font-family: 'Permanent Marker', serif;">General Info</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button1"))" class="@btnList[1][1]" style="font-family: 'Permanent Marker', serif;">Your Info</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button2"))" class="@btnList[2][1]" style="font-family: 'Permanent Marker', serif;">Billing Info</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button3"))" class="@btnList[3][1]" style="font-family: 'Permanent Marker', serif;">Shipping Info (Optional)</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button4"))" class="@btnList[4][1]" style="font-family: 'Permanent Marker', serif;">Line Items</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button5"))" class="@btnList[5][1]" style="font-family: 'Permanent Marker', serif;">Discounts, Taxes and Notes</button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="edit-form">
            <div class="edit-form-body" style="font-family: 'Figtree', serif;">
                <EditForm style="width: 100%;" Model="userInvoice" OnValidSubmit="GenerateInvoice">
                    @if (selectedTab == "button0")
                    {
                        <div class="column">
                            <label>Invoice Number: </label>
                            <InputText placeholder="0001" @bind-Value="@userInvoice.Number" />
                        </div>
                        <div class="column">
                            <label>Date: </label>
                            <InputDate @bind-Value="@userInvoice.Date" />
                        </div>
                    }
                    else if (selectedTab == "button1")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Company Name: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="ABC Company" @bind-Value="@userInvoice.CompanyName" />
                            </div>
                            <div class="column sub">
                                <label>City: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="New Clover" @bind-Value="@userInvoice.CompanyCity" />
                            </div>
                            <div class="column sub">
                                <label>Zip Code: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="12345" @bind-Value="@userInvoice.CompanyZipCode" />
                            </div>
                            <div class="column sub">
                                <label>Email: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="you@abccompany.com" @bind-Value="@userInvoice.CompanyEmail" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Address: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="123 Easy Street" @bind-Value="@userInvoice.CompanyAddress" />
                            </div>
                            <div class="column sub">
                                <label>State: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="Oregon" @bind-Value="@userInvoice.CompanyState" />
                            </div>
                            <div class="column sub">
                                <label>Website: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="abccompany.com" @bind-Value="@userInvoice.CompanyWebsite" />
                            </div>
                        </div>
                    }
                    else if (selectedTab == "button2")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Company Name: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="ABC Company" @bind-Value="@userInvoice.BillingName" />
                            </div>
                            <div class="column sub">
                                <label>City: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="New Clover" @bind-Value="@userInvoice.BillingCity" />
                            </div>
                            <div class="column sub">
                                <label>Zip Code: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="12345" @bind-Value="@userInvoice.BillingZipCode" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Address: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="123 Easy Street" @bind-Value="@userInvoice.BillingAddress" />
                            </div>
                            <div class="column sub">
                                <label>State: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="Oregon" @bind-Value="@userInvoice.BillingState" />
                            </div>
                        </div>
                    }
                    else if (selectedTab == "button3")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Company Name: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="ABC Company" @bind-Value="@userInvoice.ShippingName" />
                            </div>
                            <div class="column sub">
                                <label>City: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="New Clover" @bind-Value="@userInvoice.ShippingCity" />
                            </div>
                            <div class="column sub">
                                <label>Zip Code: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="12345" @bind-Value="@userInvoice.ShippingZipCode" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Address: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="123 Easy Street" @bind-Value="@userInvoice.ShippingAddress" />
                            </div>
                            <div class="column sub">
                                <label>State: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="Oregon" @bind-Value="@userInvoice.ShippingState" />
                            </div>
                        </div>
                    }
                    else if (selectedTab == "button4")
                    {
                        // Need to create components
                    }
                    else if (selectedTab == "button5")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Discount: </label>
                            </div>
                            <div class="column sub">
                                <InputNumber Min="0.00" Step="0.01" @bind-Value="@userInvoice.Discount" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Tax: </label>
                            </div>
                            <div class="column sub">
                                <InputNumber Min="0.00" Step="0.01" @bind-Value="@userInvoice.Tax" />
                            </div>
                        </div>
                        <div class="column-notes">
                            <div class="column-notes sub-notes">
                                <label>Notes:</label>
                            </div>
                            <div class="column-notes sub-notes">
                                <InputTextArea placeholder="Some notes" style="height: 400px; resize: none;" @bind-Value="@userInvoice.Notes" />
                            </div>
                        </div>
                    }
                </EditForm>
            </div>
            <div class="edit-form-bottom">
                <button class="btn btn-primary">Generate</button>
            </div>
        </div>
    </div>
</div>

@code {

    Invoice userInvoice = new Invoice();
    string selectedTab = "button0";
    List<string[]> btnList = new List<string[]>()
    {
        new string[] { "button0", "form-tab-selected" },
        new string[] { "button1", "" },
        new string[] { "button2", "" },
        new string[] { "button3", "" },
        new string[] { "button4", "" },
        new string[] { "button5", "" }
    };

    void FormTabClick(string _button)
    {
        foreach (string[] buttonClass in btnList)
        {
            buttonClass[1] = (buttonClass[0] == _button) ? "form-tab-selected" : "";
            selectedTab = _button;
        }
    }

    void GenerateInvoice()
    {

    }
}

@* Test *@
@* @if (testInvoice == null || testLineItemOne == null || testLineItemTwo == null)
{
    <div>
        Loading...
    </div>
}
else
{
    <div class="test-parent" style="font-family: 'Figtree', serif;">
        <div>First Line Item Total: @testInvoice.Items[0].Total</div>
        <div>First Line Item Total: @testInvoice.Items[1].Total</div>
        <div>Subtotal: @testInvoice.Subtotal</div>
        <div>Total: @testInvoice.Total</div>
    </div>
}


@code {

    LineItem testLineItemOne;
    LineItem testLineItemTwo;
    Invoice testInvoice;

    protected override void OnInitialized()
    {
        testLineItemOne = new LineItem()
        {
            Quantity = 2,
            Description = "Cat Toy",
            UnitCost = 2.49
        };

        testLineItemTwo = new LineItem()
        {
            Quantity = 1,
            Description = "Cat Food",
            UnitCost = 12.99
        };

        testInvoice = new Invoice()
        {
            Date = DateTime.Now,
            Number = "0001",
            CompanyName = "Zach's Company",
            CompanyAddress = "1836 NW Otie Street",
            CompanyCity = "Roseburg",
            CompanyState = "Oregon",
            CompanyZipCode = 97470,
            BillingName = "Nora Bear",
            BillingAddress = "123 Easy Street",
            BillingCity = "Boring",
            BillingState = "Oregon",
            BillingZipCode = 12345,
            Items = new List<LineItem>()
            {
                testLineItemOne,
                testLineItemTwo
            },
            Discount = 1.50,
            Tax = 0.50
        };
    }

} *@