@page "/new-invoice"
@inject Services.AppData AppData

<PageTitle>Create New Invoice</PageTitle>

@* Import Fonts *@
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">

<div class="page-main">
    <div class="parent-head">
        <h1 style="font-family: 'Permanent Marker', serif;">Create New Invoice</h1>
        <p style="font-family: 'Permanent Marker', serif;">Fill out this form. Once it is complete, click the generate button.</p>
    </div>
    <div class="parent-body">
        <div class="selection-bar">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(e => FormTabClick("button0"))" class="@btnList[0][1]" style="font-family: 'Permanent Marker', serif;">General Info</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button1"))" class="@btnList[1][1]" style="font-family: 'Permanent Marker', serif;">Your Info</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button2"))" class="@btnList[2][1]" style="font-family: 'Permanent Marker', serif;">Billing Info</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button3"))" class="@btnList[3][1]" style="font-family: 'Permanent Marker', serif;">Shipping Info (Optional)</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button4"))" class="@btnList[4][1]" style="font-family: 'Permanent Marker', serif;">Line Items</button>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <div class="form-tab">
                        <button @onclick="@(() => FormTabClick("button5"))" class="@btnList[5][1]" style="font-family: 'Permanent Marker', serif;">Discounts, Taxes and Notes</button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="edit-form">
            <div class="edit-form-body" style="font-family: 'Figtree', serif;">
                <EditForm style="width: 100%;" id="invoiceForm" Model="userInvoice" OnValidSubmit="GenerateInvoice">
                    <DataAnnotationsValidator />
                    @if (selectedTab == "button0")
                    {
                        <div class="column">
                            <label>Invoice Number: </label>
                            <InputText placeholder="0001" @bind-Value="@userInvoice.Number" />
                            <ValidationMessage For="@(() => userInvoice.Number)" />
                        </div>
                        <div class="column">
                            <label>Date: </label>
                            <InputDate @bind-Value="@userInvoice.Date" />
                            <ValidationMessage For="@(() => userInvoice.Date)" />
                        </div>
                    }
                    else if (selectedTab == "button1")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Company Name: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="ABC Company" @bind-Value="@userInvoice.CompanyName" />
                                <ValidationMessage For="@(() => userInvoice.CompanyName)" />
                            </div>
                            <div class="column sub">
                                <label>City: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="New Clover" @bind-Value="@userInvoice.CompanyCity" />
                                <ValidationMessage For="@(() => userInvoice.CompanyCity)" />
                            </div>
                            <div class="column sub">
                                <label>Zip Code: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="12345" @bind-Value="@userInvoice.CompanyZipCode" />
                                <ValidationMessage For="@(() => userInvoice.CompanyZipCode)" />
                            </div>
                            <div class="column sub">
                                <label>Email: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="you@abccompany.com" @bind-Value="@userInvoice.CompanyEmail" />
                                <ValidationMessage For="@(() => userInvoice.CompanyEmail)" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Address: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="123 Easy Street" @bind-Value="@userInvoice.CompanyAddress" />
                                <ValidationMessage For="@(() => userInvoice.CompanyAddress)" />
                            </div>
                            <div class="column sub">
                                <label>State: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="Oregon" @bind-Value="@userInvoice.CompanyState" />
                                <ValidationMessage For="@(() => userInvoice.CompanyState)" />
                            </div>
                            <div class="column sub">
                                <label>Website: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="abccompany.com" @bind-Value="@userInvoice.CompanyWebsite" />
                                <ValidationMessage For="@(() => userInvoice.CompanyWebsite)" />
                            </div>
                        </div>
                    }
                    else if (selectedTab == "button2")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Company Name: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="ABC Company" @bind-Value="@userInvoice.BillingName" />
                                <ValidationMessage For="@(() => userInvoice.BillingName)" />
                            </div>
                            <div class="column sub">
                                <label>City: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="New Clover" @bind-Value="@userInvoice.BillingCity" />
                                <ValidationMessage For="@(() => userInvoice.BillingCity)" />
                            </div>
                            <div class="column sub">
                                <label>Zip Code: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="12345" @bind-Value="@userInvoice.BillingZipCode" />
                                <ValidationMessage For="@(() => userInvoice.BillingZipCode)" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Address: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="123 Easy Street" @bind-Value="@userInvoice.BillingAddress" />
                                <ValidationMessage For="@(() => userInvoice.BillingAddress)" />
                            </div>
                            <div class="column sub">
                                <label>State: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="Oregon" @bind-Value="@userInvoice.BillingState" />
                                <ValidationMessage For="@(() => userInvoice.BillingState)" />
                            </div>
                        </div>
                    }
                    else if (selectedTab == "button3")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Company Name: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="ABC Company" @bind-Value="@userInvoice.ShippingName" />
                                <ValidationMessage For="@(() => userInvoice.ShippingName)" />
                            </div>
                            <div class="column sub">
                                <label>City: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="New Clover" @bind-Value="@userInvoice.ShippingCity" />
                                <ValidationMessage For="@(() => userInvoice.ShippingCity)" />
                            </div>
                            <div class="column sub">
                                <label>Zip Code: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="12345" @bind-Value="@userInvoice.ShippingZipCode" />
                                <ValidationMessage For="@(() => userInvoice.ShippingZipCode)" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Address: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="123 Easy Street" @bind-Value="@userInvoice.ShippingAddress" />
                                <ValidationMessage For="@(() => userInvoice.ShippingAddress)" />
                            </div>
                            <div class="column sub">
                                <label>State: </label>
                            </div>
                            <div class="column sub">
                                <InputText placeholder="Oregon" @bind-Value="@userInvoice.ShippingState" />
                                <ValidationMessage For="@(() => userInvoice.ShippingState)" />
                            </div>
                        </div>
                    }
                    else if (selectedTab == "button4")
                    {
                        <LineItemCom @bind-PassedLineItem=lineItems MaxNumberOfLineItems=MAX_NUMBER_OF_LINE_ITEMS />
                    }
                    else if (selectedTab == "button5")
                    {
                        <div class="column">
                            <div class="column sub">
                                <label>Discount: </label>
                            </div>
                            <div class="column sub">
                                <InputNumber Min="0.00" Step="0.01" @bind-Value="@userInvoice.Discount" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="column sub">
                                <label>Tax: </label>
                            </div>
                            <div class="column sub">
                                <InputNumber Min="0.00" Step="0.01" @bind-Value="@userInvoice.Tax" />
                            </div>
                        </div>
                        <div class="column-notes">
                            <div class="column-notes sub-notes">
                                <label>Notes:</label>
                            </div>
                            <div class="column-notes sub-notes">
                                <InputTextArea placeholder="Some notes" style="height: 400px; resize: none;" @bind-Value="@userInvoice.Notes" />
                                <ValidationMessage For="@(() => userInvoice.Notes)" />
                            </div>
                        </div>
                    }
                </EditForm>
            </div>
            <div class="edit-form-bottom">
                <button type="submit" form="invoiceForm" class="btn btn-primary">Generate</button>
            </div>
        </div>
    </div>
</div>

@code {

    Invoice userInvoice = new Invoice();
    List<LineItem> lineItems = new List<LineItem>();
    string selectedTab = "button0";
    const int MAX_NUMBER_OF_LINE_ITEMS = 10;
    List<string[]> btnList = new List<string[]>()
    {
        new string[] { "button0", "form-tab-selected" },
        new string[] { "button1", "" },
        new string[] { "button2", "" },
        new string[] { "button3", "" },
        new string[] { "button4", "" },
        new string[] { "button5", "" }
    };

    void FormTabClick(string _button)
    {
        foreach (string[] buttonClass in btnList)
        {
            buttonClass[1] = (buttonClass[0] == _button) ? "form-tab-selected" : "";
            selectedTab = _button;
        }
    }

    void GenerateInvoice()
    {
        userInvoice.Items = lineItems;
        AppData.UserInvoiceData = userInvoice;

        /*
            TODO:
            Need to route to a page that does not inherit shared components.
        */
    }
}